// out: false

@mixin nav {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #354657;
}

@mixin inside {
    margin-top: 16px;
    display: flex;
    align-items: center;
    padding: 0;
    list-style-type: none;
    max-width: 389px;
    height: 16px;
    li {
      margin-right: 10px;
    }
    li h4 {
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 16px;
      text-decoration-line: underline;
      color: #626262;
    }
  }
  
  @mixin container-4 {
    max-width: 874px;
    .title-h1 {
      margin: 0;
      font-weight: bold;
      font-size: 20px;
      color: #354657;
    }
  }

  @mixin comment {
    height: 318px;
    padding: 20px;
    background: #f0f2f5;
    h4 {
      font-size: 14px;
      line-height: 16px;
      color: #354657;
    }
    .form-check-input[type="checkbox"] {
      border: 1px solid #946fd3;
      box-sizing: border-box;
      border-radius: 2px;
    }
  }

  @mixin form-control {
        max-width: 834px;
        height: 86px;
        resize: none;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #ada8a8;
        border: 1px solid #b6b6b6;
        box-sizing: border-box;
        border-radius: 3px;
  }

  @mixin btn-primary {      
    width: 206px;
    height: 54px;
    background: #946fd3;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    border: none;
    float: right;
    &:hover {
        background-color: #946fd3;
    }
  }

  @mixin cntrl {
    display: flex;
    justify-content: space-around;
    align-items: center;

    input {
      width: 46px;
      height: 32px;
      border: 2px solid #e9e9e9;
    }
    img {
      cursor: pointer;
    }
  }