/* :root {
    --size: 1000px;
} */
* {
  margin: 0 auto;
  padding: 0;
  max-width: 1288px;
}

/* .wrapper {
   test 
} */
.container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}